*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  background: #002;
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow-x: hidden;
  height: 100vh;
  background: linear-gradient(90deg,rgba(0, 0, 34, 0.541),#002046bc);
  z-index: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}